body, html {
    margin: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start to avoid cut-off */
}

.maindiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px; /* Adds some space at the bottom */
    background-color: white;
    width: 650px;
}

.centered-box, .lower-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    /* Your existing styles for color, etc. */
}
/* In your CSS file */
@media print {
  
}

.centered-box{
    background-color: rgb(75, 8, 8);
}

.object-container{
    display: flex;
    text-align: center;
    margin: 5px;
}

.page-container {
    column-width: 600px;
    column-gap: 20px;
    height: 600px;
    overflow: auto;
    width: 100%; /* Adjust as necessary */
    padding: 15px; /* For internal spacing */
  }
  
  .resume-section {
    break-inside: avoid; /* Prevents sections from splitting across columns */
    margin-bottom: 15px; /* Spacing between sections */
    /* Additional styling as needed */
  }
  
  h3 {
    margin-top: 0; /* Style headings as needed */
  }
  .hidden {
    visibility: hidden;
    position: absolute;
    left: -9999px;
  }
  
  .page {
    height: 600px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .resume-section {
    /* Styles for each section */
    margin-bottom: 10px;
  }
  
  